<p-panel>
    <ng-template pTemplate="header">
        Usuarios
        <p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Show"></p-button>
        <displayModal [displayModal]="displayUserModal" (hideModal)="hideModalDialog($event)"></displayModal>
    </ng-template>
    
    <div class="grid">
        <div class="col-12 md:col-4">
            <app-user-form></app-user-form>
        </div>
        <div class="col-12 md:col-8">
            <p-table [value]="users" styleClass="p-datatable-striped" [paginator]="true" [rows]="3"
            [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="surname">Apellido <p-sortIcon field="surname"></p-sortIcon></th>
                        <th pSortableColumn="age">Edad <p-sortIcon field="age"></p-sortIcon></th>
                        <th pSortableColumn="birthday">Fecha de nacimiento <p-sortIcon field="birthday"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.surname }}</td>
                        <td>{{ user.age }}</td>
                        <td>{{ user.birthday | date }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-panel>
